.percentage-container {
  width: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.percentage-bar {
  @extend .percentage-container;
  background-color: #7fdbff;
  padding: 7.5px 5px;
}

.empty-percentage-bar {
  @extend .percentage-bar;
  background-color: transparent;
}

.percentage-bar-warning {
  @extend .percentage-bar;
  background-color: #ff4136;
}
