.transactions-table {
  .transactions-table-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  table {
    width: 100%;
    min-width: 350px;
    table-layout: auto;
    font-size: 12px;
  }

  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px;
  }

  .transactions-table-divider-row {
    td {
      border-top: 1px #001f3f dotted;
    }
  }

  .amount-column {
    text-align: right;
  }
}
